
.darkMode
{
    .btn
    {
        background-color: #ff7d7d;
        border: 1px solid #bebebe;
        box-shadow: 5px 5px  #bebebe;
        color: white;
    }

    .btn:hover
    {
        background-color: #ff6464;
    }

    .btn:active
    {
        box-shadow: 2px 2px #bebebe;
    }
}

.art-container
{
    margin-top: 3%;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3vw 3vw;

    justify-content: space-evenly;
    align-items: center;
}

.resize
{
    max-width: 200px;
    height: auto;
    display: block;
    border-radius: 20px;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

hr
{
    margin-top: 4%;
}

.btn
{
    width: 300px;
    height: 45px;
    font-family: "Comfortaa", serif;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    
    text-decoration: none;
    color: black;

    background-color: #FFB0B0;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    border-radius: 10px;

    padding-top: 15px;
}

.buttons
{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn:hover
{
    background-color: #ff9191;
}

.btn:active
{
    background-color: #ff9191;
    box-shadow: 2px 2px #000;
    transform: translateY(3px);
}

.backToTop
{
    float: right;
    margin-top: -100px;
    margin-right: 100px;
    font-size: 1.5em;
}

.adjust
{
    margin-bottom: 140px;
}


/* ! ********************************************** MOBILE ONLY ************************************************** */



@media screen and (max-width: 800px) 
{
    #top
    {
        margin-top: 100px;
    }

    .btn
    {
        width: fit-content;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
    }

    .buttons
    {
        gap: 5%;
    }

    .art-container
    {
        grid-template-columns: auto auto;
        grid-gap: 9vw 7vw;
    }

    .resize
    {
        max-width: 140px;
    }

    .backToTop
    {
        margin-right: 10px;
        font-size: 1.2em;
        padding-top: 25px;
    }

}

/* ! ********************************************** TABLET ONLY ************************************************** */


@media screen and (min-width: 800px) and (max-width: 1100px)
{

    .btn
    {
        width: fit-content;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    .art-container
    {
        grid-template-columns: auto auto;
    }

    .resize
    {
        max-width: 150px;
    }

    .backToTop
    {
        margin-right: 0;
    }
    
}

/* ! ********************************************** LARGE MONITORS ONLY ************************************************** */


@media screen and (min-width: 2700px)
{
    .resize
    {
        max-width: 300px;
    }

    .backToTop
    {
        margin-right: 150px;
    }

}