
.section
{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.darkMode
{
    .contact-title h2
    {
        color: white;
    }

    .contact-title hr
    {
        background-color: white;
    }

    .contact-inputs
    {
        border: 2px solid #bebebe;
        box-shadow: 3px 3px  #bebebe;
    }

    .section
    {
        border: none;
        box-shadow: none;
    }

    .contact button
    {
        background-color: #ff7d7d;
        border: 1px solid #d34141;
        box-shadow: 4px 4px  #d34141;
        color: white;
    }

    .contact button:active
    {
        background-color: #ff6464;
    }
}

.contact-container
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-right
{
    margin-left: 150px;
}

.contact
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-title h2
{
    margin-bottom: 10%;
}

.contact-title hr
{
    border: none;
    width: 250px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
}

.contact-inputs
{
    width: 400px;
    height: 50px;
    border: 2px solid black;
    box-shadow: 3px 3px  #000000;
    outline: none;
    padding-left: 25px;
    color: #666;
    border-radius: 20px;

    font-family: "Comfortaa", serif;
}

.contact-inputs:focus
{
    border: 2px solid #FFB0B0;
}

.contact-inputs::placeholder
{
    color: #a9a9a9;
}

.contact textarea
{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact button
{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    font-family: "Comfortaa", serif;
    font-weight: bolder;

    background-color: #FFB0B0;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px  #000000;

    cursor: pointer;
}

.contact button:hover
{
    background-color: #ff9191;
}

.contact button:active
{
    background-color: #ff9191;
    box-shadow: 2px 2px #000;
    transform: translateY(3px);
}


/* ! ********************************************** MOBILE ONLY ************************************************** */

.mobilePic
{
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 800px) 
{
    .one
    {
        margin-top: 100px;
    }

    .contact-container
    {
        display: block;
        margin-bottom: 0;
    }

    .contact-right img
    {
        max-width: 200px;
    }

    .contact-right
    {
        visibility: hidden;
        display: none;
    }

    .mobilePic
    {
        visibility: visible;
        display: flex;
    }

    .mobilePic img
    {
        max-width: 100px;
        height: auto;

        margin-left: 35px;
    }

    .contact-inputs
    {
        width: 300px;
        height: 50px;
    }

    .contact-title
    {
        display: flex;
    }

    .contact-title hr 
    {
        width: 200px;
    }

    .contact button 
    {
        padding: 15px 50px;
        font-size: 1em;
        margin-top: 10px;
    }
}

/* ! ********************************************** TABLET ONLY ************************************************** */

@media screen and (min-width: 800px) and (max-width: 1100px)
{

    .contact-container
    {
        display: block;
        margin-bottom: 0;
    }

    .contact-right
    {
        visibility: hidden;
        display: none;
    }
    
    .contact-title
    {
        display: flex;
    }

    .mobilePic
    {
        visibility: visible;
        display: flex;
    }

    .mobilePic img
    {
        max-width: 120px;
        height: auto;

        margin-left: 35px;
    }
}

/* ! ********************************************** WEIRD IN BETWEEN SIZE ONLY ************************************************** */


@media screen and (min-width: 1100px) and (max-width: 1700px)
{
    .contact-right
    {
        margin-left: 50px;
    }

    .contact-right img
    {
        width: 250px;
    }
}