

#pfp
{
    width: 250px;
    border-radius: 20px;
    margin: 0 0 0 15px;
    float: right;
}

.about
{
    min-height: 400px;
    padding-left: 4%;
    padding-right: 4%;
}

.achievements-section
{
    display: grid;
    grid-template-areas:
    'text picture'
    'text picture';

    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

.text
{
    grid-area: text;
    padding-right: 10%;
}

.picture
{
    grid-area: picture;
}

.achievements-pic
{
    max-height: 350px;
    max-width: 700px;
    border-radius: 20px;
}

.achievements-divider
{
    border: 1px solid rgb(0, 0, 0);

    margin: 5% 5% 5% 5%;
}


/* ! ********************************************** MOBILE ONLY ************************************************** */

@media screen and (max-width: 800px) 
{
    .achievements-section
    {
        display: block;
    }

    .achievements-pic
    {
        max-width: 280px;
        border-radius: 10px;
    }

    #pfp
    {
        width: 150px;
        border-radius: 20px;
    }

    .about
    {
        min-height: 400px;
        padding-left: 30px;
        padding-right: 30px;
    }

}


/* ! ********************************************** TABLET ONLY ************************************************** */

@media screen and (min-width: 800px) and (max-width: 1800px)
{
    
    #pfp
    {
        max-width: 200px;
    }

    .achievements-section
    {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .achievements-pic
    {
        width: 46vw;
    }
}


/* ! ********************************************** LARGE MONITORS ONLY ************************************************** */


@media screen and (min-width: 2700px)
{

    
}

