
.darkMode
{
    .project-links
    {
        background-color: #ff7d7d;
        color: white;
    }

    .project-links:hover
    {
        background-color: #ff6464;
    }

    .project-links:active
    {
        background-color: #ff6464;
    }
}

.project-section
{
    display: grid;
    grid-template-areas:
    'text picture'
    'text picture';

    margin: 3% 5% 3% 5%;
    align-items: center;
}

.text
{
    grid-area: text;
    padding-right: 10%;
}

.picture
{
    grid-area: picture;
}

.projects-pic
{
    max-height: 350px;
    max-width: 700px;

    margin-top: 7%;
    border-radius: 20px;
}

.project-links
{
    text-decoration: none;
    font-weight: bolder;
    color: black;

    background-color: #FFB0B0;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px  #000000;

    /* top right bottom left*/
    padding: 8px 5px 8px 5px;
}

.project-links:active
{
    background-color: #ff9191;
    box-shadow: 2px 2px #000;
    transform: translateY(3px);
}


/* ! ********************************************** MOBILE ONLY ************************************************** */



@media screen and (max-width: 800px) 
{
    .one
    {
        margin-top: 100px;
    }

    .project-section
    {
        display: block;
    }

    .projects-pic
    {
        max-width: 290px;
    }
}


/* ! ********************************************** TABLET ONLY ************************************************** */


@media screen and (min-width: 800px) and (max-width: 1100px)
{
    .project-section
    {
        display: block;
    }

    .projects-pic
    {
        max-width: 42vw;
    }


}

/* ! ********************************************** WEIRD IN BETWEEN SIZE ONLY ************************************************** */


@media screen and (min-width: 1100px) and (max-width: 1700px)
{
    .project-section
    {
        display: block;
    }

    .projects-pic
    {
        max-width: 42vw;
    }


}