
.comfortaa-font 
{
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body 
{
    font-family: "Comfortaa", serif;
    background-color: #ffefe6;
}

@keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeAnimation
{
    animation: fadeIn 1s;
}

.darkMode 
{
    background-color: #000;


    .sidenav
    {
        background-color: #000;
        color: white;
        border-right: 1px solid #bebebe;
    }

    .links a 
    {
        color: white;
    }

    .links a:hover 
    {
        border: 1px solid #bebebe;
        box-shadow: 5px 5px  #bebebe;
        background-color: rgb(192, 108, 192);
    }

    .links a:active
    {
        background-color: rgb(146, 66, 146);
        box-shadow: 2px 2px #bebebe;
    }

    .divider
    {
        border-top: 1px solid #bebebe;
    }

    .section 
    {
        border: 2px solid #bebebe;
        box-shadow: 5px 5px  #bebebe;
    }

    .footer
    {
        color: white;
    }

    #moon
    {
        content:url("../icons/sun.png")
    }

    #discord
    {
        content:url("../icons/whiteDiscord.png")
    }

    #email
    {
        content:url("../icons/whiteEmail.png")
    }

    #linkedin
    {
        content:url("../icons/whiteLinkedin.png")
    }

    #github
    {
        content:url("../icons/whiteGithub.png")
    }

    #heart
    {
        content:url("../icons/whiteHeart.png");
    }

}

.sidenav 
{
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffefe6;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid black;

    text-align: center;

    h1
    {
        margin-top: 10%;
    }
}

.links
{
    margin-top: 40%;
}


.links a
{
    /* top right bottom left*/
    margin: 15% 0px 30px 0px;
    padding: 9px 0px 9px 0px;
    text-decoration: none;
    font-size: 25px;

    color: black;

    display: block;
}

#discord
{
    content:url("../icons/blackDiscord.png")
}

#email
{
    content:url("../icons/blackEmail.png")
}

#linkedin
{
    content:url("../icons/blackLinkedin.png")
}

#github
{
    content:url("../icons/blackGithub.png")
}

.links a:hover 
{
    background-color: plum;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    /* top right bottom left*/
    padding: 8px 0px 8px 0px;

    box-shadow: 5px 5px  #000000;
}

.links a:active
{
    background-color: rgb(192, 108, 192);
    box-shadow: 2px 2px #000;
    transform: translateY(3px);
}

.modeButton
{
    padding-top: 15%;
}

.sidefooter
{
    margin-top: 50%;
}

.sidefooter a
{

    padding: 3%;
}

.section 
{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px  #000000;
    font-size: 1.4em;

    /* top right bottom left*/
    padding: 0px 30px 30px 30px;
    margin: 50px 100px 75px 500px;
}

h2
{
    text-align: center;
    font-size: 1.8em;
}

.divider
{
    border-top: 1px solid black;
}

.footer
{
    padding-top: 20px;
    margin-left:450px;
    display: flex;
}

#heart
{
    height: 32px;
    width: 32px;
    margin-top: 22px;
    margin-left: 20px;
}

/* ! ********************************************** MOBILE ONLY ************************************************** */

@media screen and (max-height: 600px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}